#chat-page {
	margin-top: 40px;
	display: flex;
	justify-content: flex-start;
}

.left {
	width: 15vw;
	margin-right: 5vw;
	margin-left: 5vw;
	padding: 7px;
	overflow-y: scroll;
	border: 1px solid #000000;
	font-weight: 600;
	font-size: x-large;
}

.left span {
	font-size: small;
}

.left::-webkit-scrollbar {
	display: none;
}

.right {
	width: 60vw;
}

.messages {
	height: 80vh;
	overflow-y: scroll;
	border: 1px solid #000000;
	padding-left: 5px;
}

.messages::-webkit-scrollbar {
	display: none;
}

.message {
	max-width: 40%;
	margin-top: 5px;
	padding: 5px;
	padding-left: 10px;
	font-weight: 600;
}

.PM {
	background-color: #0887ff;
	color: #ebe6e6;
	border-radius: 6px;
}

.PM section {
	color: #faca7d;
}
